@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

*,*::before, *::after {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html {
  font-size: calc((0.6vh + 0.45vw + 5px)*var(--size));
}

:root{
  background: #fff;
  color: #000;
  --primary-color: hsl(214, 68%, 19%);
  --secondary-color: #0494E9;
}

/* Selection */
*::selection {
  background: var(--primary-color);
  color: white;
}